streamlit==1.39.0
PyPDF2==3.0.0
rouge-score==0.1.2
openai
rouge
langchain
langchain_community
langchain-openai
nltk==3.8.1
matplotlib==3.7.1
pypdf==3.8.1
numpy==1.26.4
chromadb==0.5.18
genanki
reportlab